<configuration debug="true">
    <include resource="config.xml"/>

    <appender name="INFO_LOKI" class="cn.luvletter.logback.loki.LokiAppender">
        <!--日志文件输出格式-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <lokiHost>${lokiHost}</lokiHost>
        <label>EXAMPLE</label>
        <value>INFO</value>
    </appender>

    <appender name="DEBUG_LOKI" class="cn.luvletter.logback.loki.LokiProtoAppender">
        <!--日志文件输出格式-->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
            <charset>UTF-8</charset> <!-- 此处设置字符集 -->
        </encoder>
        <lokiHost>${lokiHost}</lokiHost>
        <label>EXAMPLE</label>
        <value>DEBUG</value>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--TRACE < DEBUG < INFO < WARN < ERROR-->
    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="INFO_LOKI"/>
<!--        <appender-ref ref="DEBUG_LOKI"/>-->
    </root>
</configuration>
